.c-image {
    &.--small {
        max-width: 580px;
    }
    &.--medium {
        max-width: 900px;
    }
    &.--large {
        max-width: 1200px;
    }
    &.--left {
        text-align: left;
    }
    &.--right {
        text-align: right;
    }
    &.--center {
        text-align: center;
    }
    img {
        border-radius: var(--radius-image);
    }
}