.c-hero-cta {
    display: flex;
    position: relative;
    min-height: 380px;
    overflow: hidden;
    border-radius: var(--radius);

    &.--left {
        justify-content: flex-start;
    }

    &.--center {
        justify-content: center;
    }

    &.--right {
        justify-content: flex-end;
    }

    img {
        width: 100%;
    }


    .__gradient-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
    }


    .__content-wrapper {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;

        &.--left {
            justify-content: flex-start;

            .__content {
                text-align: left;
                align-items: flex-start;
            }
        }

        &.--center {
            justify-content: center;

            .__content {
                text-align: center;
                align-items: center;
            }
        }

        &.--right {
            justify-content: flex-end;

            .__content {
                text-align: right;
                align-items: flex-end;

            }
        }

        &.--top .__content{
            align-self: flex-start;
        }
        &.--middle .__content {
            align-self: center;
        }
        &.--bottom .__content{
            align-self: flex-end;
        }

        .__content {
            display: flex;
            flex-flow: column;
            gap: 10px;
            width: 100%;
            box-sizing: border-box;
            gap: 40px;
        }
    }
}