{{ $options := newScratch }} {{ if or (.content.mute) (.content.no_player_controls) }} {{ $options.Set "mute" 1 }} {{else}} {{ $options.Set "mute" 0 }} {{ end }}
{{ if .content.no_player_controls }} {{ $options.Set "controls" 0 }} {{else}} {{ $options.Set "controls" 1 }} {{ end }}
{{ if or (.content.loop) (.content.no_player_controls) }} {{ $options.Set "loop" 1 }} {{else}} {{ $options.Set "loop" 0 }} {{ end }}
{{ if .content.autoplay }} {{ $options.Set "autopause" 0 }} {{else}} {{ $options.Set "autopause" 1 }} {{ end }}
{{ if or (.content.autoplay) (.content.no_player_controls) }} {{ $options.Set "autoplay" 1 }} {{else}} {{ $options.Set "autoplay" 0 }} {{ end }}

{{ $youtube_url := printf "https://www.youtube.com/embed/%s?playlist=%s&mute=%d&controls=%d&loop=%d&autopause=%d&autoplay=%d" .content.video_id .content.video_id ($options.Get "mute") ($options.Get "controls") ($options.Get "loop") ($options.Get "autopause") ($options.Get "autoplay") }}

<div class="c-youtube --{{ .style.content_width | lower }}">
    {{ if .content.video_id }}
        {{ partial "bookshop" (slice "cloudcannon/embed" (dict "url" $youtube_url ))}}
    {{ end }}
</div>