<section class="c-two-column-header-with-cta {{ if .cta_block.background_color.white }}--bg-white{{ end }}">
    <div class="__content --{{ .cta_block.text_color | lower }}" {{ if not .cta_block.background_color.white }} style="background-color: {{ .cta_block.background_color.color }};" {{ end }}>
        {{ if eq .image_alignment "Left" }}
            <div class="__image" style="background-image: url({{ .image.path }});"></div>
            {{ partial "bookshop" (slice "cloudcannon/cta" .cta_block.cta )}}
        {{ else }}
            {{ partial "bookshop" (slice "cloudcannon/cta" .cta_block.cta )}}
            <div class="__image" style="background-image: url({{ .image.path }});"></div>
        {{ end }}
    </div>
</section>