<section class="c-two-column-header-with-cta {{ if .content.cta_block.background_color.white }}--bg-white{{ end }}">
    <div class="__content --{{ .content.cta_block.text_color | lower }}" {{ if not .content.cta_block.background_color.white }} style="background-color: {{ .content.cta_block.background_color.color }};" {{ end }}>
        {{ if eq .style.image_alignment "Left" }}
            <div class="__image" style="background-image: url({{ .content.image.path }});"></div>
            {{ partial "bookshop" (slice "cloudcannon/cta" .content.cta_block.cta )}}
        {{ else }}
            {{ partial "bookshop" (slice "cloudcannon/cta" .content.cta_block.cta )}}
            <div class="__image" style="background-image: url({{ .content.image.path }});"></div>
        {{ end }}
    </div>
</section>