.c-hero-image {
    &.--left {
        text-align: left;
    }
    &.--right {
        text-align: right;
    }
    &.--center {
        text-align: center;
    }

    .__content-wrapper {
        img {
            max-width: 100%;
        }
    }
}