.c-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);

    text-decoration: none;
    font-size: var(--font-size-ui);
    font-weight: var(--font-weight-ui);
    padding: 20px 40px;

    color: var(--color-light);
    background-color: var(--color-primary);

    &.--full {
        display: flex;
    }

    &:hover {
        background-color: #000000;
    }

    &.--secondary {
        color: var(--color-primary-fade);
        background-color: var(--color-secondary);
    }
}