<div class="c-socials --{{ .content_width }}">
    <ul class="c-socials__list --{{ .content_alignment }}">
        {{ range .logo_links }}
            <li>
            <a
                href="{{ .url }}"
                {{ if .open_in_new_tab }} 
                    rel="noopener" 
                    target="_blank" 
                {{ end }}
            ><img
                loading="lazy"
                class="c-socials__list__image"
                src="{{ .logo }}"
                alt="{{ .alt }}"
            /></a>
            </li>
        {{ end }}
    </ul>
</div>