.c-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    box-sizing: border-box;

    text-decoration: none;
    font-size: var(--font-size-ui);
    font-weight: var(--font-weight-ui);
    padding: 20px 40px;
    height: 60px;

    color: var(--color-light);
    background-color: var(--color-primary);

    &.--responsive {
        width: fit-content;
    }
    &.--full {
        width: -moz-available;
        width: -webkit-fill-available;
    }

    &:hover {
        background-color: #000000;
    }

    &:active {
        background-color: #666666;
    }


    &.--secondary {
        color: var(--color-primary);
        background-color: var(--color-secondary);
        &:hover {
            background-color: var(--color-secondary-dark);
        }

        &:active {
            background-color: var(--color-secondary-light);
        }
    }
    &.--disabled {
        background-color: var(--color-secondary-light);
        color: #777777;
        pointer-events: none;
    }
}