.c-gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
    @media screen and (max-width: 580px) {
        display: flex;
        flex-wrap: wrap;
    }
    .c-image {
        &.--small, &.--medium, &.--large {
            max-width: 580px;
            img {
                width: 100%;
            }
        }
    }
}