.c-accordion {
    border-top: 2px solid #333333;
    &.--half {
        max-width: 580px;
    }
    &.--full {
        max-width: 1200px;
    }

    &__dropdown {
        border-bottom: 2px solid #333333;
        padding: 20px 0;

        &[open] > &__summary {
            &::after {
                transform: rotate(180deg);
            }
        }

        &__summary {
            list-style: none;
            font-weight: var(--font-weight-large);
            font-size: var(--font-size-small);
            line-height: 32px;
            display: flex;
            align-items: center;
            position: relative;

            &::after {
                // TODO: add icon image
                content: url("http://placekitten.com/32/32");
                width: 32px;
                height: 32px;
                position: absolute;
                right: 0;
            }


            &::marker, /* Latest Chrome, Edge, Firefox */
            &::-webkit-details-marker /* Safari */ {
                display: none;
            }
        }

        p {
            margin: 0;
            padding-top: 10px;
        }
    }
}