.c-quote {
    display: flex;
    flex-direction: column;
    color: var(--color-body);

    blockquote {
        margin: 0;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-large);
        line-height: var(--line-height-medium);
    }

    &.--small {
        max-width: 580px;
    }

    &.--medium {
        max-width: 900px;
    }

    &.--large {
        max-width: 1200px;
    }

    &.--left {
        text-align: left;
    }

    &.--center {
        text-align: center;
    }

    &.--right {
        text-align: right;
    }
}