.c-paragraph {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-body);
    color: var(--color-body);

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    strong {
        font-weight: 700;
    }
}