.c-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 40px 0px;

    .__links {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
        gap: 40px;

        li a {
            color: var(--color-body);
            font-weight: var(--font-weight-large);
            text-decoration: none;
        }
    }
}