<div class="c-input-cta --{{ lower .style.content_width }} --{{ lower .style.content_alignment }}">
    {{ if .content.heading }}{{ partial "bookshop" (slice "cloudcannon/headline" .content.heading )}}{{ end }}
    {{ if .content.paragraph }}{{ partial "bookshop" (slice "cloudcannon/paragraph" .content.paragraph )}}{{ end }}
    <form {{if .content.button.url }} action="{{.content.button.url}}" {{ end }}>
        {{ partial "bookshop" (slice "cloudcannon/input" .content.input )}}
        {{ partial "bookshop" (slice "cloudcannon/input" .content.button )}}
    </form>
</div>