.c-one-column {
    display: flex;
    width: 100%;

    &.--small {
        max-width: 580px;
    }

    &.--medium {
        max-width: 900px;
    }

    &.--large {
        max-width: 1200px;
    }

    &.--left {
        justify-content: left;
    }

    &.--center {
        justify-content: center;
    }

    &.--right {
        justify-content: right;
    }
}