.c-line {
    margin: 0;
    height: 2px;
    border-width: 0;
    background-color:#333333;
    
    &.--small {
        max-width: 580px;
    }
    &.--medium {
        max-width: 900px;
    }
    &.--large {
        max-width: 1200px;
    }
}